html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Tahoma', sans-serif;
}

.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('../image/hero.png');
  background-size: cover;
  background-position: center;
  color: white;
}
.video-wrapper {
  width: 50%;          
  max-width: none;      
  aspect-ratio: 16/9;    
  margin: 20px auto;     
  overflow: hidden;
  border-radius: 8px;    
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}


.video-wrapper iframe {
  width: 50%;
  height: 50%;
  object-fit: cover;  
}

.hero h1 {
  font-size: 3rem;
}

i {
  color: #0d6efd;
  transition: transform 0.3s;
}

i:hover {
  transform: scale(1.2);
}